*, *:after, *:before {
	box-sizing: border-box;
}

body {
	font-family: $secondaryFont, sans-serif;
	font-size: 1rem;
	position: relative;
	background: #eee;

	&.fixed {
		overflow: hidden;
	}
}

html, body {
	margin: 0;
	padding: 0;
}

.container {
	width: 100%;
	box-sizing: border-box;
	padding: 30px;

	&--p0 {
		padding: 0;
	}

	@include lg-up {
		max-width: 1140px;
		margin: 0 auto;

		&--830 {
			max-width: 830px;
		}
	}

	@include xl-up {
		padding: 100px 0;
	}
	
}

img {
	max-width: 100%;
}

button {
	background: none;
	border: none;
	-webkit-appearance: none;
}

.overlay {
	background: rgba($Black, .3);
	top:0;
	bottom: 0;
	left: 0;
	right: 0;
	padding: 35px;

	@include md-up { padding: 70px; }

	&--center {
		align-items: center;
		justify-content: center;
		text-align: center;
	}

	&--left {
		align-items: center;
		justify-content: flex-start;
	}

	&--right {
		align-items: center;
		justify-content: flex-end;
	}

}
