.theme {
	
	&--primary { 
		color: $Black;	

		.overlay { color: $White; }

	}

	&--secondary {
		background: $CornflowerBlue;
		color: $White;
	}

	&--alternative { 
		background: $MintCream;
		color: $DarkSlateGrey; 

		.overlay { color: $White; }
		
	}

}
