.theme {
	
	&--primary,
	&--red { 
		background: $brandRed;
		color: #fff;
	}

	&--secondary,
	&--blue {
		background: $brandBlue;
		color: #fff;
	}

	&--alternative,
	&--deep-red { 
		background: $brandDeepRed;
		color: #fff;
	}

	&--pink {
		background: $brandPink;
		color: $brandDeepRed;
	}

	&--white {
		background: #fff;
		color: $brandDeepRed;
	}

	&--red-to-deep-red {
		background: $brandRed;
		color: #fff;
		position: relative;

		&:after {
			content: "";
			position: absolute;
			top: 310px;
			left: 0;
			width: 100%;
			height: calc(100% - 310px);
			background: $brandDeepRed;

			@include xs-up {
				top: 330px;
				height: calc(100% - 330px);
			}

			@include sm-up {
				top: 410px;
				height: calc(100% - 410px);
			}

			@include lg-up {
				top: 500px;
				height: calc(100% - 500px);
			}
		}
	}

}
