////
///	
/// @group Components (GDPR)
/// @author Rob Watson
//// 

.section--gdpr {
	
	@include font-size(10, 16);

	position: absolute;
	top: -1000px;
	transition-timing-function: ease-in;
	transition: 0.25s;

	&--active {

		background: rgba($Black, .8);
		color: $White;
		top: 0;
		bottom: 0;
		right:0;
		left:0;
		width: 100vw;
		height: 100vh;
		z-index: 100;
		transition: 0.25s;
		transition-timing-function: ease-out;
		position: fixed;
		text-align: center;

	}

}

.section--gdpr-outer {

	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;

}

.section--gdpr-inner {

	@include font-size(14, 20);

	background: $White;
	color: $Black;
	width: calc(100vw - 40px);
	box-sizing: border-box;
	padding: 20px;
	border: 1px solid $Black;
	border-radius: 5px;
	position: relative;

	a { color: $Crimson; }

	@include md-up {
		
		@include font-size(18, 26);
		
		width: 500px;
	
	}

}

.gdpr__header {	@include font-size(18, 26); }


