// --------------------------------------------------------------------------------------------------
// Header
// --------------------------------------------------------------------------------------------------

.header {
    width: 100%;
    padding: 20px;
    transition: background .3s;
    z-index: 1000;
    position: fixed;
    top: 0;
    left: 0;
    transition: .4s;

    @include lg-up {
        padding: 30px;
    }
}

.site-logo {
    max-width: 50px;
    display: block;
    position: relative;
    z-index: 2;
    transition: .3s;

    @include md-up {
      max-width: 100%;
    }
}