////
///	
/// @group  Components (Compare)
/// @author Rob Watson
////

.compare {

	box-sizing: border-box;
	padding: 20px;

	h3 { 
		background: $Crimson;
		padding: 10px;
		color: $White;
	}

	li { 
		color: $Red; 
		font-weight: bold;
	}

}

