////
///	Global fonts within the project, make sure you keep the load time down by only loading weights you require.
/// If using Google Fonts, normal weights are 400 & 700 for bold.
/// @group Settings (Fonts)
/// @author Rob Watson
////

/// This is the main body font used throughout the site
/// @name Gilroy

/// This is the main header font used throughout the site
/// @name Gilroy (700 weight)

$primaryFont: "serif";
$secondaryFont: "english-grotesque";
$copyFont: "calluna";
