////
///	
/// @group Global classes
/// @author Rob Watson
////

.srt {
	border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  width: 1px;
	word-wrap: normal !important;

	&:focus {
		background-color: #eee;
		clip: auto !important;
		clip-path: none;
		color: #444;
		display: block;
		font-size: 1em;
		height: auto;
		left: 5px;
		line-height: normal;
		padding: 15px 23px 14px;
		text-decoration: none;
		top: 5px;
		width: auto;
		z-index: 100000;
	}

}

.section__header {
	text-transform: uppercase;
	font-size: 1.7rem;
	font-weight: 100;
	padding-bottom: 10px;
	border-bottom: 1px solid #fff;
	display: inline-block;

	@include md-up {
		font-size: 2.5rem;
	}
}

.section__sub-header {
	text-transform: uppercase;
	font-weight: 100;
	font-size: .875rem;
	margin-top: 15px;
}

.rwd { 
	max-width: 100%;
	height: auto;
}

.align--center { text-align: center; }
.align--left { text-align: left; }
.align--right { text-align: right; }

// For lazy loaded elements
.lazyload,
.lazyloading {
	opacity: 0;
}

.lazyloaded {
    opacity: 1;
    transition: opacity 300ms;
}
// ---

.clearfix {
	@include cf;
}

.w100 {
	width: 100%;
}

.flex { @include flexbox; }
.items-start { @include align-items(start); }
.items-center { @include align-items(center); }
.justify-center { @include justify-content(center); }
.space-between { @include justify-content(space-between); }
.flex-wrap { @include flex-wrap(wrap); }
.flex-col { @include flex-direction(column); }
.flex-row { @include flex-direction(row); }

.relative {
	position: relative;
}

.icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;
}

.hide-scrollbar {
	scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE10+ */

    &::-webkit-scrollbar { 
        display: none; 
    }
}

.scroll-touch {
	-webkit-overflow-scrolling: touch;
}