////
///	
/// @group Global HTML Elements
/// @author Rob Watson
////



html {
	font-size: 100%;
}

body {
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
}

// div {}

// span {}

// iframe {}

// bdo {}

/**
	HTML 5 Elements
*/
header {
	display: block;
}

nav {
	display: block;
}

section {
	display: block;
}

article {
	display: block;
}

aside {
	display: block;
}

main {
	display: block;
}

footer {
	display: block;
}

video {
	display: block;
}

/**
	HEADERS
*/
// h1 {

// }

// h2 {

// }

// h3 {

// }

// h4 {

// }

// h5 {

// }

// h6 {

// }

/**
 LISTS
*/
ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

ol {
	padding: 0;
	margin: 0;
}

// li {}

// dl {}

// dt {}

// dd {}

/*
	TEXT FORMATTING
*/
// a {}

// p {}

// strong {}

// b {}

// em {}

// i {}

// small {}

// address {}

// br {}

// hr {}

// sub {}

// sup {}

// mark {}

// del {}

// ins {}

// abbr {}

// code {}

// pre {}

/**
	QUOTES
*/
// blockquote {}

// cite {}

/**
	IMAGES
*/
// img {}

// figure {}

// figcaption {}

// map {}

/**
	TABLES
*/
// table {}

// thead {}

// tfoot {}

// th {}

// tbody {}

// tr {}

// td {}

/**
	FORMS
**/
// form {}

// fieldset {}

// legend {}

// label {}

// input {}

// textarea {}

// select {}

// datalist {}

// output {}

// button {}
